
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=VT323&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  
}
body{
    display: flex;
    justify-content: center; /* Yatayda ortalama */
    align-items: center; /* Dikeyde ortalama */
    height: 100vh; /* Ekran yüksekliği kadar uzat */
    background: url(assets/photo-1709589865176-7c6ede164354.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
main{
  
    position: relative;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.weather-info{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.btn {
    width: 200px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
    background: #ffffff9b;
    transition: 0.3s;
    color: rgb(54, 50, 50)
}
.btn:hover{
    transform: scale(1.10);
}
.bi{
    font-size: 40px;
}

@media( min-width:560px){
    h1,h2{
        font-size: 40px;
        font-weight: bold;
    }
    p {
        font-size: 20px;
        font-weight: bold;
    }
    .weather-info{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        
    }
}
.inputText {
    width: 350px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid black;
    

}